form#write_comment {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 10%;
}
div.comments{
    margin: 5px 0px;
    font-size: 18px;
    position: relative;
    border: 1px solid black;
}
#comment_write{
    margin: 10px 0;
    margin-bottom: 5px;
    font-size: 16px;
    width: 100%;
    height: 80%;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    resize: none;
}
#comment_write:focus{
    outline: none;
}
p.del_comment_btn{
    margin: 0;
}
p.del_comment_btn::after{
    position: absolute;
    content: "\00d7";
    top: 0px;
    right: 5px;
    font-size: 25px;
}
p.del_comment_btn:hover{
    color: rgba(252, 0, 0, 0.651);
}
.image {
    width: auto;
    height: auto;
}
#comment_submit_btn{
    right: 5px;
    top: 5px;
}
#comment_box{
    margin-top: 30px
}